<div class="container">
  <div class="contactInfo">
    <h1>{{resume.contact.name.first}} {{resume.contact.name.last}}</h1>
    <ul class="addressInfo">
      <li>{{resume.contact.address}}</li>
      <li>{{resume.contact.city}}, {{resume.contact.state}} {{resume.contact.zip}}</li>
      <li>{{resume.contact.phone}}</li>
      <li>{{resume.contact.email}}</li>
    </ul>
    </address>
  </div>
  <div class="careerObjective">
    <h2>Career Objective</h2>
    {{resume.overview}}
  </div>
  <div class="employmentHistory">
    <h2>Professional Experience</h2>
    <div class="employment" ng-repeat="job in resume.employment">
      <h3>{{job.organization.name}}, {{job.organization.city}}, {{job.organization.state}}</h3>
      <h4>{{job.title}}, {{job.duration.join | date : "MMMM yyyy"}} - {{job.duration.leave | date : "MMMM yyyy"}}</h4>
      <br/>
      <div ng-bind-html="job.summary"></div>
      <h5>Skills:</h5>
      <ul>
        <li ng-repeat="skill in job.skills">{{skill}}</li>
      </ul>
    </div>
  </div>
  <div class="educationHistory">
    <h2>Education</h2>
    <div class="school" ng-repeat="school in resume.education">
      <h3>{{school.facility}}</h3>
      <h4>{{school.certificate}}, {{school.duration.leave | date: "MMMM yyyy"}}</h4>
    </div>
  </div>
  <div class="additionalSkills">
    <h2>Additional Skills</h2>
    <ul>
      <li ng-repeat="skill in resume.additionalSkills">{{skill}}</li>
    </ul>
  </div>
</div>
